.tableHeader {
    display: block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 8px 12px;
    gap: 10px;
    text-align: left;
}


.tableHeader th{
    width: 200px;
}