select:hover {
    border: 1px solid #646cff;
}

select {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

select:focus,
select:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    outline-color: #646cff;
}

